.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* background: radial-gradient(circle at center, #1a1445, #0d0a2c); */
  background-color: #eafeea;
  font-family:'Poppins, sans-serif' ;
  overflow: auto;
  position: relative;
}